/* .main{
    display: flex;
    gap: 1vw;
    width: 80vw;
    height: 35vh;
    
} */


.ecom-box{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 33vh;
    border-radius: 5%;
    /* gap: 0.5vw; */
}

.ecom-box-image{
    width: 100%;
    height: 45%;
}

.ecom-box-image img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ecom-box-text{
    padding: 0.2vw;
}
.ecom-box-text h1{
    font-weight: 500;
    font-size: 1.5vw;
}
.ecom-box-smalltext{
    padding: 0.2vw;
    color: rgb(133, 130, 130);
}
.ecom-box-smalltext h3{
    font-size: 1vw;
    font-weight: 500;
}
.ecom-box-smalltext h5{
    font-size: 0.8vw;
    font-weight: 300;
}



  /* For mobile phones */
  @media (max-width: 800px) {
    .ecom-box {
      width: 90vw;
      height: auto;
    }
  
    .ecom-box-text h1 {
      font-size: 5vw;
    }
  
    .ecom-box-smalltext h3 {
      font-size: 3vw;
    }
  
    .ecom-box-smalltext h5 {
      font-size: 2.5vw;
    }
  
    .ecompartmain {
      padding: 1vh 2vh;
      width: 100vw;
    }
  
    .ecomagrishops {
      flex-direction: column;
      gap: 3vh;
    }
  
    .ecommain1 {
      flex-direction: column;
    }
  }